.modal
	h3 Login
	form(method="post")
		input(name="email" type="text" placeholder="Enter email")
		input(name="password" type="password" placeholder="Enter password")
		button(a="#" type="submit" value="Submit" ) Submit