.main
	.todo.panel
		.panel__header
			.header__controls
				h3 Todo Items ({{todoCount}})
				form(method="post")
					input(type="text" v-model="todoInput" placeholder="Todo item")
					button(type="submit" @click.prevent="addTodo") Add
			hr
		.panel__items
			.item(v-for="todo in todoItems")
				p.todo(@click="markDone(todo.id)") {{todo.title}} ({{todo.id}})
	.done.panel
		.panel__header
			h3 Done Items ({{doneCount}})
			hr
		.panel__items
			.item(v-for="done in doneItems")
				p.done {{done.title}}
