.main
	.todo.panel
		.panel__header
			.header__controls
				h3
					i.fa.fa-arrow-right
					| Todo Items ({{todoCount}})
				ui-button(icon="add" @click.prevent="openModal('add-modal')")
					| ADD Item
				ui-modal(ref='add-modal' title="Add an item")
					form(@submit.prevent="addTodo();closeModal('add-modal')")
						ui-textbox(v-model="todoInput" name="todoText" type="text" placeholder="Enter your todo Item")
						ui-button(icon="save" color='green' @click.prevent="addTodo();closeModal('add-modal')") Save Item
						
			hr
		.panel__items
			dot-loader(:loading="loadingTodo" :color="color")
			.item(v-for="todo in todoItems")
				p.todo(@click="markDone(todo.id)")
					i.fa.fa-check-square-o
					| {{todo.title}}
				p.date {{todo.created_at.slice(11,16)}}
	.done.panel
		.panel__header
			h3
				i.fa.fa-arrow-right
				| Done Items ({{doneCount}})
			hr
		.panel__items
			dot-loader(:loading="loadingDone" :color="color")
			.item(v-for="done in doneItems")
				p.done
					i.fa.fa-check-square
					| {{done.title}}
