header
		.logo__header
			img(src="./../assets/todo-logo.png" class="logo__image")
			.logo__text
				h1 Todo List
				h4 Be more productive
		.header__user(v-if="getUser") Welcome, {{getUser}}
		.header__user(v-else) Hey there, stranger