// Fade in

.fade-enter
	opacity: 0
.fade-enter-active
	transition: opacity 1.5s

.fadeinout-enter
	opacity: 0
.fadeinout-enter-active
	transition: opacity 1s
.fadeinout-leave
	opacity: 1
.fadeinout-leave-active
	transition: opacity 1s
	opacity: 0