// Personal resets
html
	height: 100%
	width: 100%
body
	background-color: $color__primary
	color: $color__accent--white
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	font-family: $font--text
	height: 100%
	@media screen and (max-width: 700px)
		height: auto
	
// Entire App base styles
#app
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	height: 100%

header
	min-height: em(80)
	width: 100vw
	background-color: $color__primary--dark
	display: flex
	justify-content: space-around
	align-items: center
	.logout
		color: $color__primary--light
		cursor: pointer
		text-align: center
		&:hover
			text-decoration: underline
			color: $color__accent--white
	a
		text-decoration: none
		color: $color__accent--white
// Main screen styles
.primary
	width: 100vw
	min-height: em(200)
	flex-grow: 1
	display: flex
	justify-content: center
	align-items: center
	height: 100%
	@media screen and (max-width: 700px)
		padding: em(20) 0
	

footer
	min-height: em(40)
	width: 100vw
	background-color: $color__primary--dark
	display: flex
	justify-content: center
	align-items: center
	text-align: center

// Toast style
.toast
	background-color: rgba($color__primary, 0.7)
	color: $color__accent--white
	padding: 2%
	margin-top: 6%
	border-radius: 0
	width: em(200)
	height: em(20)
	box-shadow: $shadow--light

// Font Awesome margin
i
	margin-right: em(5)

