//Pixels to ems
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Flat buttons
@mixin button {
  cursor: pointer;
  background-color: $color__primary--dark;
  border: none;
  color: $color__accent--white;
  text-transform: uppercase;
  &:hover {
    background-color: $color__accent--white;
    color: $color__primary--dark;
    border: em(1) solid $color__primary--dark;
  }
}