.modal
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	padding: em(50) em(30)
	box-shadow: $shadow--medium
	background-color: $color__text--primary
	h3
		color: $color__background--primary
		text-transform: uppercase
		letter-spacing: em(2)
		font-size: em(30)
	form
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		input
			border: 1px solid
			margin: em(10) 0
			padding: em(20)
			background-color: $color__background--light
			color: $color__text--primary
		
		button
			cursor: pointer
			align-self: stretch
			background-color: $color__background--dark
			border: none
			height: em(40)
			margin-top: em(10)
			color: $color__text--primary
			text-transform: uppercase



	