//Colors

$color__primary: #8BC34A
$brand-primary-color: #8BC34A
$color__primary--dark: darken($color__primary, 15%)
$color__primary--lighter: lighten($color__primary, 10%)
$color__primary--light: lighten($color__primary, 20%)
$color__accent--white: #FAFAFA
$color__accent--red: #D84315
$color__accent--black: #212121
$color__accent--grey: #E0E0E0


//Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

$font--title: 'Oswald', serif
$font--text: 'Raleway', sans-serif

//Shadows
$shadow--heavy: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
$shadow--medium: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$shadow--light: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
